body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.col{
    width: auto;
    height: 450px;

    display: grid;
    grid-template-rows: repeat(6, auto);

    cursor: pointer;
    text-align: center;
}


.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;

    box-shadow: 0 0 0 2px;
    font-size: 50px;
}


#cellContainer{
    display: grid;
    grid-template-columns: repeat(7, auto);
    width: 525px;
    margin: auto;
}
